@import "tailwindcss";
.columns.is-centered { justify-content: center; }
.carousel {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.carousel-item {
    display: none;
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
}
.carousel-item.active {
    display: block;
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}
.carousel-control-prev {
    left: 10px;
}
.carousel-control-next {
    right: 10px;
}
.navbar {
    margin-bottom: 20px; 
}


.section2 {
    background-color: #5934f9;
    padding: 1px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid white;
    margin-top: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button {
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px; 
}



.button:hover {
    background-color: #ffdd57;
    color: #5934f9; 
}

.button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(255, 221, 87, 0.5);
}

.button.is-primary {
    background-color: #5934f9;
    border-color: #5934f9;
    color: aliceblue;
}

.button.is-primary:hover {
    background-color: #ffdd57;
    color: #5934f9;
}
.navbar {
    margin-bottom: 20px; 
}


.section {
    background-color: #5934f9;
    padding: 20px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid white;
    margin-top: 20px; 
}
.section1 {


    border-radius: 10px;
    border-top: 5px solid white;
    margin-top: 20px;
    margin-left: 150px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button {
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px; 
}

.button:hover {
    background-color: #ffdd57; 
    color: #5934f9; 
}

.button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(255, 221, 87, 0.5);
}

.button.is-primary {
    background-color: #5934f9;
    border-color: #5934f9;
    color: aliceblue;
}

.button.is-primary:hover {
    background-color: #ffdd57;
    color: #5934f9;
}